*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(53, 117, 181);
    color: whitesmoke;
    padding: 50px;
    margin: 10px;
    
}

aside {
    background-color: aqua;
    color: white;
    border: 1px solid black;
}

ul {
    font-size: larger;

}

.tip {
    font-style: italic;
}